.container_count{
  display: flex;
  justify-content: center;
  gap: 72px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.First_cont{
  align-items: center;
}
.First_cont h1{   
  font-size: 80px;
  color: #7FB069;
}
.First_cont p{
    font-size: 36px;
    font-weight: 500;
}

.Second_cont h1{   
    font-size: 80px;
    color: #7FB069;
  }
  .Third_cont h1{   
    font-size: 80px;
    color: #7FB069;
  }
  .Second_cont p{   
    font-size: 36px;
    font-weight: 500;
  }
  .Third_cont p{   
    font-size: 36px;
    font-weight: 500;
  }