.container_card_slider {
    width: 100%;
    margin-bottom: 100px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .heading_card_slider {
  }
  
  .heading_card_slider strong {
    font-size: 57px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-weight: 700;
  }
  
  .grid_card_slider {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
    scroll-snap-align: start;
  }
  
  .grid_1 {
    align-items: center;
    justify-content: center;
    display: flex;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  
  .grid_1_image {
    width: 360px;
    height: 260px;
    border-radius: 40px;
  }
  .container_card_slider {
    /* Other styles */
    overflow-x: hidden;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .container_card_slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .line_moving {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    color: #232323;
    margin-bottom: 50px;
}

.line_moving h1 {
    display: inline-block;
    animation: marquee 80s linear infinite;
    font-size: 60px;
}

@keyframes marquee {
    0% { transform: translateX(10%); }
    100% { transform: translateX(-100%); }
}


.video_container{
    width: 100%;
    margin-top: 50px;
}